<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/admin_home}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">
    <title>Create User Account</title>
</head>
<body layout:fragment="content">
    <div class="create-container">
        <h1>Create New User Account</h1>
        <p class="text-center danger" th:text="${errorMessage}"></p>
        <form th:action="@{/admin/createUser}" method="POST">
            <!-- Email -->
            <label for="email">Email: </label>
            <div class="custom-input">
                <input type="email" name="email" required>
                <span class="material-icons-sharp">alternate_email</span>
            </div>
            <!-- First name -->
            <label for="firstName">First Name: </label>
            <div class="custom-input">
                <input type="text" name="firstName" required>
            </div>
            <!-- Last name -->
            <label for="lastName">Last Name: </label>
            <div class="custom-input">
                <input type="text" name="lastName" required>
            </div>
            <!-- Password -->
            <label for="password">Password: </label>
            <div class="custom-input">
                <input type="text" name="password" required>
                <span class="material-icons-sharp">key</span>
            </div>
            <!-- Confirm -->
            <button type="submit" class="create-button">Create user</button>
        </form>
    </div>
</body>
</html>