<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/admin_home}">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body layout:fragment="content">
    <!-- Analytics -->
    <h1>Analytics</h1>
    <div class="analytics">
        <div class="sales">
            <div class="status">
                <div class="info">
                    <h3>Total sales</h3>
                    <h1>$42,178</h1>
                </div>
                <div class="progress">
                    <svg>
                        <circle cx="38" cy="38" r="36"></circle>
                        <text x="50%" y="50%" text-anchor="middle" fill="#677483" dy=".3em">+77%</text>
                    </svg>
                </div>
            </div>
        </div>
        <div class="registrations">
            <div class="status">
                <div class="info">
                    <h3>Account registrations</h3>
                    <h1>1,752</h1>
                </div>
                <div class="progress">
                    <svg>
                        <circle cx="38" cy="38" r="36"></circle>
                        <text x="50%" y="50%" text-anchor="middle" fill="#677483" dy=".3em">+13%</text>
                    </svg>
                </div>
            </div>
        </div>
        <div class="messages">
            <div class="status">
                <div class="info">
                    <h3>Messages sent</h3>
                    <h1>35,497</h1>
                </div>
                <div class="progress">
                    <svg>
                        <circle cx="38" cy="38" r="36"></circle>
                        <text x="50%" y="50%" text-anchor="middle" fill="#677483" dy=".3em">+24%</text>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <!-- analytics end -->

    <!-- new users -->
    <div class="new-users">
        <h2>New Users</h2>
        <div class="user-list">
            <div th:if="${latestUsers.empty}">
                <h2>No users available</h2>
            </div>
            <div th:each="user : ${latestUsers}" class="user">
                <img src="https://cdn.pixabay.com/photo/2017/01/27/16/09/girl-2013447_960_720.jpg">
                <h2 th:text="${user.firstName}">John</h2>
                <p th:text="${user.admin} ? 'Admin' : 'User'"></p>
            </div>
        </div>
    </div>
    <!-- new users end -->

    <script src="/javascript/admin.js"></script>
</body>
</html>