<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/admin_home}">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">
    <title>Users</title>
</head>
<body layout:fragment="content">
    <h1>Users</h1>
    <div class="user-tools">
        <div class="user-criteria">
            <!-- Order -->
            <div class="button-group">
                <a href="#" class="button button-primary disabled"> Order by: </a>
                <a th:href="@{/admin/listUsers(page=${page}, size=${size}, sort=id, order=${order}, name=${name})}" class="button button-primary" th:classappend="${sort == 'id' ? 'active' : ''}" aria-current="page">ID</a>
                <a th:href="@{/admin/listUsers(page=${page}, size=${size}, sort=firstName, order=${order}, name=${name})}" class="button button-primary" th:classappend="${sort == 'firstName' ? 'active' : ''}">First Name</a>
                <a th:href="@{/admin/listUsers(page=${page}, size=${size}, sort=lastName, order=${order}, name=${name})}" class="button button-primary" th:classappend="${sort == 'lastName' ? 'active' : ''}">Last Name</a>
                <a th:href="@{/admin/listUsers(page=${page}, size=${size}, sort=email, order=${order}, name=${name})}" class="button button-primary" th:classappend="${sort == 'email' ? 'active' : ''}">Email</a>
            </div>
            <!-- Sort -->
            <div class="button-group">
                <a href="#" class="button button-primary disabled"> Sort: </a>
                <a th:href="@{/admin/listUsers(page=${page}, size=${size}, sort=${sort}, order=ascending, name=${name})}" class="button button-primary" th:classappend="${order == 'ascending' ? 'active' : ''}">Ascending</a>
                <a th:href="@{/admin/listUsers(page=${page}, size=${size}, sort=${sort}, order=descending, name=${name})}" class="button button-primary" th:classappend="${order == 'descending' ? 'active' : ''}">Descending</a>
            </div>
        </div>
        <!-- Search -->
        <div class="user-search">
            <input id="searchInput" type="text" class="search-input" placeholder="Search user......">
            <button id="searchButton" class="button button-alone button-primary" type="submit">Search</button>
        </div>
    </div>

    <!-- Users list -->
    <div class="users">
        <table>
            <thead>
                <tr>
                    <th> # </th>
                    <th> First name </th>
                    <th> Last name </th>
                    <th> Email </th>
                    <th> Admin </th>
                    <th> Status </th>
                    <th> Edit </th>
                    <th> Delete </th>
                </tr>
            </thead>
            <tbody>
            <tr th:if="${usersPage.empty}">
                <td colspan="2"> No Active Users Available </td>
            </tr>
            <tr th:each="user : ${usersPage.content}">
                <td><span th:text="${user.id}"> Id </span></td>
                <td><span th:text="${user.firstName}"> First name </span></td>
                <td><span th:text="${user.lastName}"> Last name </span></td>
                <td><span th:text="${user.email}"> Email </span></td>
                <td><span th:text="${user.admin}"> Admin </span></td>
                <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" id="userStatus" th:checked="${user.accountNonLocked}" th:data-user-id="${user.id}" onclick="switchUserAccountStatus(event,this)"/>
                        <label class="form-check-label" for="userStatus" th:text="${user.accountNonLocked} ? 'Active' : 'Deactivated' ">Account status</label>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-success editButton" th:data-user-id="${user.id}" th:data-firstname="${user.firstName}"
                            th:data-lastname="${user.lastName}">
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger deleteButton" th:data-user-id="${user.id}">
                        <i class="fas fa-times"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- users list end -->

    <!-- pagination -->
    <div class="pagination-section">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${usersPage.first ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{/admin/listUsers(page=${usersPage.number - 1}, size=${usersPage.size}, sort=${sort}, order=${order}, name=${name})}" href="#">Previous</a>
                </li>
                <li th:each="pageNum : ${#numbers.sequence(0, usersPage.totalPages - 1)}" class="page-item" th:classappend="${pageNum == usersPage.number ? 'active' : ''}">
                    <a class="page-link" th:href="@{/admin/listUsers(page=${pageNum}, size=${usersPage.size}, sort=${sort}, order=${order}, name=${name})}" th:text="${pageNum + 1}"></a>
                </li>
                <li class="page-item" th:classappend="${usersPage.last ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{/admin/listUsers(page=${usersPage.number + 1}, size=${usersPage.size}, sort=${sort}, order=${order}, name=${name})}" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- pagination end -->

<!--    Modal Dialog for status-->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between">
                    <h5 class="modal-title flex-grow-1 text-center" id="confirmModalLabel">Confirm Action</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    Are you sure you want to change the status?
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirmStatusChange">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!--    Modal Dialog for delete     -->
    <div class="modal fade" id="confirmModalDelete" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between">
                    <h5 class="modal-title flex-grow-1 text-center" id="confirmModalLabelDelete">Confirm Action</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    Are you sure you want to delete this user?
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirmStatusChangeDelete">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal edit -->
    <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between">
                    <h5 class="modal-title flex-grow-1 text-center" id="editUserModalLabel">Edit User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editUserForm">
                        <div class="form-group" style="text-align: left;">
                            <label for="userFirstName">First Name</label>
                            <input type="text" class="form-control" id="userFirstName">
                        </div>
                        <div class="form-group" style="text-align: left;">
                            <label for="userLastName">Last Name</label>
                            <input type="text" class="form-control" id="userLastName">
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="confirmEditChanges">Save Changes</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('searchButton').addEventListener('click', function() {
            var inputValue = document.getElementById('searchInput').value;
            if (inputValue) {
                window.location.href = '/admin/listUsers?name=' + encodeURIComponent(inputValue);
            } else {
                alert('Please enter a name to search.');
            }
        });
    </script>
    <script>
        function switchUserAccountStatus(event,checkbox) {
            event.preventDefault()
            const userId = checkbox.getAttribute('data-user-id');
            const newState = checkbox.checked;

            // demonstrate model
            $('#confirmModal').modal('show');

            // "confirm" is processed here
            const confirmButton = document.getElementById('confirmStatusChange');
            confirmButton.onclick = function() {
                // modify
                updateAccountStatus(userId, newState, checkbox);
            };

            // "cancel" has been processed
        }

        function updateAccountStatus(userId, newState, checkbox) {
            let currentStatus = !newState;

            const apiURL = currentStatus ? `/admin/deactivate?userId=${userId}` : `/admin/activate?userId=${userId}`;
            fetch(apiURL, { method: 'GET' })
                .then(response => {
                    if (response.ok) {
                        // alert(currentStatus ? 'Deactivation successful' : 'Activation successful');
                        window.location.reload();
                    } else {
                        alert(currentStatus ? 'Deactivation failed' : 'Activation failed');
                        checkbox.checked = !newState; // Reset checkbox state if failed
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    checkbox.checked = !newState; // Reset checkbox state if error
                });

            // close model
            $('#confirmModal').modal('hide');
        }

    </script>
    <script>
        // document.getElementById('deleteButton').addEventListener('click', function() {
        //     const userId = this.getAttribute('data-user-id');
        //     // demonstrate model
        //     $('#confirmModalDelete').modal('show');
        //
        //     // "confirm" is processed here
        //     const confirmButton = document.getElementById('confirmStatusChangeDelete');
        //     confirmButton.onclick = function() {
        //         // modify
        //         updateAccountDelete(userId);
        //     };
        //
        //     // "cancel" has been processed
        // });
        document.addEventListener('DOMContentLoaded', function () {
            // add listener to button delete
            document.querySelectorAll('.deleteButton').forEach(button => {
                button.addEventListener('click', function() {
                    const userId = this.getAttribute('data-user-id');

                    $('#confirmModalDelete').modal('show');

                    const confirmButton = document.getElementById('confirmStatusChangeDelete');
                    confirmButton.onclick = function() {
                        updateAccountDelete(userId);
                    };
                });
            });

            // add listener to button edit
            document.querySelectorAll('.editButton').forEach(button => {
                button.addEventListener('click', function() {
                    const userId = this.getAttribute('data-user-id');
                    const firstname = this.getAttribute('data-firstname');
                    const lastname = this.getAttribute('data-lastname');

                    $('#editUserModal').modal('show');
                    $('#editUserModal').find('#userFirstName').val(firstname);
                    $('#editUserModal').find('#userLastName').val(lastname);

                    const confirmButton = document.getElementById('confirmEditChanges');
                    confirmButton.onclick = function() {
                        const firstNameFinal = document.getElementById('userFirstName').value;
                        // alert(firstNameFinal);
                        const lastNameFinal = document.getElementById('userLastName').value;
                        // alert(lastNameFinal);
                        updateAccountEdit(userId,firstNameFinal,lastNameFinal);
                    };
                });
            });
        });
        function updateAccountEdit(userId,firstname,lastname) {
            const apiURL = `/admin/userEdit?userId=${userId}&firstName=${encodeURIComponent(firstname)}&lastName=${encodeURIComponent(lastname)}`;
            fetch(apiURL, { method: 'GET' })
                .then(response => {
                    if (response.ok) {
                        // alert('Edit successful');
                        window.location.reload();
                    } else {
                        alert('Edit failed');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });

            // close model
            $('#editUserModal').modal('hide');
        }

        function updateAccountDelete(userId) {

            const apiURL = `/admin/userDelete?userId=${userId}`;
            fetch(apiURL, { method: 'GET' })
                .then(response => {
                    if (response.ok) {
                        // alert('Delete successful');
                        window.location.reload();
                    } else {
                        alert('Delete failed');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });

            // close model
            $('#confirmModalDelete').modal('hide');
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>