<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/admin_home}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">
    <title>Create user success</title>
</head>
<body layout:fragment="content">
    <div class="create-success">
        <h2 th:text="|Successfully created user ${firstName} ${lastName} with username (email): ${email}|"></h2>
        <div class = "home-div">
            <a href="/admin/home" class="button-home">Home</a>
        </div>
    </div>
</body>
</html>