<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div class="custom-container">
        <!-- sidebar -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <span class="material-icons-sharp">fitbit</span>
                    <h2><span class="success">Buzz</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>

            <div class="sidebar">
                <a href="/admin/dashboard" class="side-link" id="dashboardLink">
                    <span class="material-icons-sharp">dashboard</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="/admin/listUsers" class="side-link" id="usersLink">
                    <span class="material-icons-sharp">people</span>
                    <h3>Users</h3>
                </a>
                <a href="/admin/createUser" class="side-link" id="createUserLink">
                    <span class="material-icons-sharp">person_add</span>
                    <h3>Create New User</h3>
                </a>
                <a href="#" class="side-link">
                    <span class="material-icons-sharp">settings</span>
                    <h3>Settings</h3>
                </a>
            </div>
        </aside>
        <!-- end sidebar -->

        <!-- main content -->
        <main>
            <!-- header -->
            <header class="header">
                <div class="header-nav">
                    <button id="menu-btn">
                        <span class="material-icons-sharp">menu</span>
                    </button>
                    <div class="dark-mode">
                        <span class="material-icons-sharp active">light_mode</span>
                        <span class="material-icons-sharp">dark_mode</span>
                    </div>
                    <div class="welcome">
                        <div class="info">
                            <p>Hello, <b th:text="|${#authentication.getPrincipal().getFirstName()} ${#authentication.getPrincipal().getLastName()}|"></b></p>
                            <small class="text-muted">Admin</small>
                        </div>
                        <div class="profile-photo">
                            <a href="/admin/loggedInUser">
                                <span class="material-icons-sharp">account_circle</span>
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            <!-- end header -->

            <!-- main section -->
            <section layout:fragment="content">
                <!-- Dynamic content will be injected here -->
            </section>
            <!-- main section -->

            <!-- footer -->
            <footer class="footer">
                <div class="time-display">
                    Current Time: <span id="current-time"></span>
                </div>
            </footer>
            <!-- end footer -->
        </main>
        <!-- end main content -->

    </div>

    <script src="/javascript/admin.js"></script>
    <!--time-->
    <script src="https://cdn.jsdelivr.nheaderet/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-0TNFlnz4M3QbCtPbTf3mCZNuyWrln3M7Lom6uzGfS6IRapMWH9obJfndA6KQehZD" crossorigin="anonymous"></script>
    <script>
        function updateTime() {
            document.getElementById('current-time').textContent = new Date().toLocaleTimeString();
        }
        setInterval(updateTime, 1000);
    </script>
</body>
</html>