@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}

a {
    color: var(--color-dark);
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

h3 {
    font-weight: 500;
    font-size: 0.9rem;
}

small {
    font-size: 0.75rem;
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.text-muted {
    color: var(--color-info-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.custom-container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}

aside {
    height: 100vh;
}

aside .toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .toggle .logo {
    display: flex;
    gap: 0.5rem;
}

aside .toggle .logo span {
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
    font-size: 2rem;
}

aside .toggle .logo h2 {
    font-size: 2.5rem;
}

aside .toggle .close {
    padding-right: 1rem;
    display: none;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 88vh;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
}

aside .sidebar:hover {
    box-shadow: none;
}

aside .sidebar a {
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

aside .sidebar a.active::before {
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 0.6rem;
}

main {
    margin-top: 1.4rem;
    position: relative;
}

main .analytics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .analytics > div {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

main .analytics > div:hover {
    box-shadow: none;
}

main .analytics > div .status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .analytics h3 {
    margin-left: 0.6rem;
    font-size: 1rem;
}

main .analytics .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    background-color: var(--color-white);
}

main .analytics svg {
    width: 7rem;
    height: 7rem;
}

main .analytics svg circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(7px, 10px);
}

main .analytics .sales svg circle {
    stroke: var(--color-success);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analytics .registrations svg circle {
    stroke: var(--color-primary);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analytics .messages svg circle {
    stroke: var(--color-primary);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .new-users {
    margin-top: 1.3rem;
    padding-bottom: 6rem;
}

main .new-users .user-list {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

main .new-users .user-list:hover {
    box-shadow: none;
}

main .new-users .user-list .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .new-users .user-list .user img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.4rem;
    border-radius: 50%;
}

.header {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.header .header-nav {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.header .header-nav button {
    display: none;
}

.header .dark-mode {
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.header .dark-mode span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .dark-mode span.active {
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.header .header-nav .welcome {
    display: flex;
    gap: 2rem;
    text-align: right;
}

.header .header-nav .welcome p {
    margin-top: 0;
    margin-bottom: 0;
}

.header .header-nav .welcome .profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    overflow: hidden;
}

.header .header-nav .welcome span {
    font-size: 2.5rem;
}

.footer {
    display: flex;
    position: absolute;
    bottom: 10px;
    border-radius: var(--border-radius-2);
    background-color: var(--color-white);
    justify-content: center;
    box-shadow: var(--box-shadow);
    width: 100%;
    height: 5rem;
}

.footer:hover {
    box-shadow: none;
}

.time-display {
    padding: 1rem;
}

/* Users page */

.button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    border: 1px solid var(--color-light);
    height: 2.5rem;
    overflow: hidden;
    white-space: nowrap;
}

.button-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.button-primary {
    color: var(--color-white);
    background-color: var(--color-primary);
}

.button-alone {
    border-radius: 0.25rem;
}

.button-primary.disabled {
    color: var(--color-primary);
    background-color: var(--color-white) !important;
    border-color: var(--color-primary);
}

.button-primary.active {
    background-color: #4e739c;
}

.button-primary:hover {
    background-color: #4e739c;
}

.button-group > .button:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.button-group > .button:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.user-tools {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 5rem 2rem 0.25rem;
}

.user-criteria {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}

.user-search {
    display: flex;
    justify-content: right;
    gap: 0.75rem;
}

.search-input {
    width: 15rem;
    border-radius: 0.5rem;
    padding: 0.375rem 0.75rem;
    border: 1px solid var(--color-light);
}

.users {
    margin-top: 1.3rem;
}

.users table {
    background-color: var(--color-white);
    width: 100%;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
}

.users table:hover {
    box-shadow: none;
}

.users table thead th {
    height: 3rem;
    border-bottom: 2px solid var(--color-light);
    color: var(--color-dark-variant);
}

.users table tbody td {
    height: 5rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
    min-width: 8rem;
    padding: 20px;
}

.users table tbody tr:last-child td {
    border: none;
}

.users a {
    text-align: center;
    display: block;
}

.pagination-section {
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.pagination .page-link {
    color: var(--color-primary);
    background-color: var(--color-white);
    border-color: var(--color-light);
}

.pagination .page-link:hover {
    background-color: #bfbfbf;
}

.pagination .page-item.active .page-link {
    color: var(--color-white);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.pagination .page-item.disabled .page-link {
    color: var(--color-dark-variant) !important;
    background-color: var(--color-white) !important;
}

/* Create user page */
.create-container {
    width: 100%;
    padding: 40px 32px;
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    margin-bottom: 7rem;
    margin-top: 1.5rem;
    transition: all 0.3s ease;
}

.create-container:hover {
    box-shadow: none;
}

.create-container h1 {
    text-align: center;
}

.create-container form label {
    color: var(--color-dark);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.03rem;
    display: block;
    margin-top: 12px;
}

.create-container form .custom-input {
    position: relative;
}

.create-container form .custom-input input {
    color: var(--color-dark);
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    height: 48px;
    letter-spacing: 0.03rem;
    border: 1px solid var(--color-light);
    background-color: var(--color-white);
    outline: none;
    border-radius: var(--border-radius-1);
    text-indent: 20px;
    margin-top: 6px;
    transition: all 0.3s ease;
}

.create-container form .custom-input input:focus {
    border-color: var(--color-primary);
}

.create-container form .custom-input input:focus + span {
    color: var(--color-primary);
}

.create-container form .custom-input span {
    position: absolute;
    font-size: 28px;
    right: 10px;
    top: 14px;
    transition: all 0.3s ease;
}

.create-container form .create-button {
    width: 100%;
    margin-top: 30px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    line-height: 50px;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 700;
    border-radius: var(--border-radius-1);
    transition: all 0.3s ease;
}

.create-container form .create-button:hover {
    background-color: #4e739c;
}

/* successful user creation */
.create-success {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.create-success:hover {
    box-shadow: none;
}

.home-div {
    text-align: center;
}

.button-home {
    margin-top: 1rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    line-height: 5rem;
    width: 7rem;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    vertical-align: middle;
    padding: 0.5rem;
    border-radius: var(--border-radius-1);
    transition: all 0.3s ease;
}

.button-home:hover {
    background-color: #4e739c;
}

@media screen and (max-width: 1200px) {
    .custom-container {
        width: 95%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2 {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .analytics {
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .new-users .user-list .user {
        flex-basis: 40%;
    }

    .users {
        width: 94%;
        margin: 2rem 0 0 0.8rem;
    }

    .users table {
        width: 90vw;
    }
}

@media screen and (max-width: 768px) {
    .custom-container {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 var(--padding-1);
    }

    aside {
        position: fixed;
        background-color: var(--color-white);
        width: 15rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        left: -100%;
        display: none;
        animation: showMenu 0.4s ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .logo {
        margin-left: 1rem;
    }

    aside .logo h2 {
        display: inline;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;
    }

    aside .toggle .close {
        display: inline-block;
        cursor: pointer;
    }

    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .new-users .user-list .user {
        flex-basis: 35%;
    }

    .users {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    .users table {
        width: 100%;
        margin: 0;
    }

    .header {
        width: 100%;
        margin: 0 auto 4rem;
        position: fixed;
        top: 0;
        left: 0;
    }

    .header .header-nav {
        align-items: center;
        background-color: var(--color-white);
        padding: 0 var(--padding-1);
        height: 4.6rem;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .header .welcome .info {
        display: none;
    }

    .header .header-nav button {
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .header .header-nav button span {
        font-size: 2rem;
    }
}
