@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.homepage {
    width: 100%;
    min-height: 100vh;
    background-image: url("https://img.freepik.com/free-vector/soft-green-watercolor-texture-elegant-background_1055-8764.jpg?t=st=1716540536~exp=1716544136~hmac=9a82a14658bdaee46119b9deee3c0ea08883846af27e68d612561bd2447378a9&w=900");
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}

.homepage nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homepage nav .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-success);
    font-size: 30px;
}

.homepage nav .logo span {
    width: 30px;
}

.homepage nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

.homepage nav ul li a {
    text-decoration: none;
    color: var(--color-success);
    font-weight: 400;
}

.homepage nav ul li a:hover {
    border-bottom: 2px solid var(--color-success);
}

.login-btn {
    text-decoration: none;
    color: var(--color-success);
    margin-right: 15px;
    font-weight: 500;
}

.login-btn:hover {
    border-bottom: 2px solid var(--color-success);
}

.button {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: var(--color-white);
    background-image: linear-gradient(45deg, var(--color-success), var(--color-primary));
    font-size: 14px;
    border-radius: 30px 0 30px 30px;
    transition: 0.5s;
}

.content {
    margin-top: 10%;
    max-width: 600px;
}

.content h1 {
    font-size: 70px;
    color: var(--color-success);
}

.content p {
    margin: 10px 0 30px;
    color: var(--color-dark);
    animation-delay: 0.5s;
}

.content .button {
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 1s;
}

.button:hover {
    border-top-right-radius: 30px;
}

.feature-img {
    width: 530px;
    position: absolute;
    bottom: 150px;
    right: 10%;
}

.feature-img.anim {
    animation-delay: 1.5s;
}

.anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 960px) {
    #features, #privacy, #how {
        display: none;
    }
}