<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <title>Buzz Home Page</title>
</head>
<body>
    <div class="homepage">
        <nav>
            <div class="logo">
                <span class="material-icons-sharp">fitbit</span>
                <p>Buzz</p>
            </div>
            <ul>
                <li><a href="#" id="features">Features</a></li>
                <li><a href="#" id="how">How it works</a></li>
                <li><a href="#" id="privacy">Privacy</a></li>
            </ul>
            <div>
                <a th:href="@{/login}" class="login-btn">Log in</a>
                <a href="#" class="button">Download App</a>
            </div>
        </nav>
        <div class="content">
            <h1 class="anim">Start buzzing today</h1>
            <p class="anim">Buzz is a new messaging platform to make new friends online around the world. Let's explore what it has in store for you.</p>
            <a href="" class="button anim">Join now</a>
        </div>
        <img th:src="@{/images/bee.png}" class="feature-img anim" alt="bee">
    </div>
</body>
</html>