<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container" id="container" th:classappend="${param.wrongrole} ? 'active'">
    <!-- form in the right -->
    <div class="form-container sign-up">
        <a href="/" class="home-button2">
            <i class="fa-solid fa-house"></i> Home
        </a>
        <form th:action="@{/login}" method="POST">
            <h1>Administrator Login</h1>
            <div class="social-icons">
                <a href="#" class="icon">
                    <i class="fa-brands fa-google-plus-g"></i></a>
                <a href="#" class="icon">
                    <i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="icon">
                    <i class="fa-brands fa-github"></i></a>
                <a href="#" class="icon">
                    <i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <span>or use your email for registration</span>
            <!-- <input type="text" placeholder="Name"> -->
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>

            <div th:if="${param.errorAdmin}" id="errorAdminExists" class="alert-message">
                <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION?.message}]]</p>
            </div>

            <div th:if="${param.logout}" class="alert-message">
                <p class="text-danger"> You have been logged out. </p>
            </div>
            <div th:if="${param.wrongrole}" class="alert-message">
                <p class="text-danger"> You do not have the role for accessing the page.</p>
            </div>
            <a th:href="@{/forgotPassword}">Forgot your password?</a>
            <input type="hidden" name="role" value="ADMIN">
            <button type="submit">Sign In</button>
        </form>
    </div>
    <!-- form in the left -->
    <div class="form-container sign-in">
        <a href="/" class="home-button1">
            <i class="fa-solid fa-house"></i> Home
        </a>
        <form th:action="@{/login}" method="POST">
            <h1>User Login</h1>
            <div class="social-icons">
                <a href="#" class="icon">
                    <i class="fa-brands fa-google-plus-g"></i></a>
                <a href="#" class="icon">
                    <i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="icon">
                    <i class="fa-brands fa-github"></i></a>
                <a href="#" class="icon">
                    <i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <span>or use your email password</span>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="hidden" name="role" value="USER">
            <div th:if="${param.errorUser}" class="alert-message">
                <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION?.message}]]</p>
            </div>
            <div th:if="${param.logout}" class="alert-message">
                <p class="text-danger"> You have been logged out. </p>
            </div>
            <a th:href="@{/forgotPassword}">Forgot your password?</a>
            <button type="submit">Sign In</button>
        </form>
    </div>
    <!-- toggle -->
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>User Access</h1>
                <p>Log in to access your personalized dashboard and continue your journey with us.</p>
                <button class="hidden" id="login">USER LOGIN</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Administrator Access</h1>
                <p>Administrator Login for System and User Management</p>
                <button class="hidden" id="register">ADMIN LOGIN</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', function () {
        var errorAdminExists = document.getElementById('errorAdminExists');
        if (errorAdminExists) {
            var container = document.getElementById('container');
            if (container) {
                container.classList.add('active');
            }
        }
    });
    /*]]>*/
</script>


</body>
<script src="/javascript/login.js"></script>
</html>