<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Reset Your Password</title>
</head>
<body>
    <div>
      <h2 class="text-center">Reset Your Password</h2>
    </div>

    <p class="text-center" th:text="${errorMessage}"></p>

    <form th:action="@{/resetPassword}" method="post" style="max-width: 350px; margin: 0 auto;">
      <input type="hidden" name="token" th:value="${token}" />
      <div class="border border-secondary rounded p-3">
        <div>
          <p>
            <input type="password" name="password" id="password" class="form-control"
                   placeholder="Enter your new password" required autofocus />
          </p>
          <p>
            <input type="password" class="form-control" placeholder="Confirm your new password"
                   required oninput="checkPasswordMatch(this);" />
          </p>
          <p class="text-center">
            <input type="submit" value="Change Password" class="btn btn-primary" />
          </p>
        </div>
      </div>
    </form>
    <script>
      function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value !== $("#password").val()) {
          fieldConfirmPassword.setCustomValidity("Passwords do not match!");
        } else {
          fieldConfirmPassword.setCustomValidity("");
        }
      }
    </script>
</body>
</html>